/* discharge for header */
.linkNow {
  font-weight: 800;
  color: black !important;
}

:root {
  --main-violet: #563d7c;
}

/* Buy */
.welcome {
  margin: 2.5rem 0;
}

/* Left column of Buy to sort goods */
.textCheeseFarm {
  margin-bottom: 3rem;
  background: #eef5fd;
  color: #545556;
  font-size: 20px;
  justify-content: center;
}

.sortBy {
  margin-top: 1rem;
}

.containerOuter {
  margin: 2rem 0;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 6px 20px 2px rgba(10, 10, 120, 0.15);
}

/* Radio Buttons */
.containerRadio {
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 160px;
}

.checkBoxContainer {
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 160px;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 160px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.circle {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}
.overlay {
  background: #fff;
  height: 140px;
  pointer-events: none;
  transition: background 300ms;
  width: 40px;
}
.highlight {
  background: var(--main-violet);
  border-radius: 50%;
  height: 12px;
  left: 14px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(100px);
}
.hidden:nth-child(1):checked + .entry .circle {
  border-color: var(--main-violet);
}
.hidden:nth-child(3):checked + .entry .circle {
  border-color: var(--main-violet);
}
.hidden:nth-child(5):checked + .entry .circle {
  border-color: var(--main-violet);
}
@media (max-width: 768px) {
  .containerRadio {
    margin: 5px;
  }
  .checkBoxContainer {
    margin: 5px;
  }
  .entry-label {
    padding-left: 35px;
  }
}
.entry-label-bolder {
  font-weight: 400;
}
#goodCheese,
#goodWine,
#goodButter {
  font-weight: 400;
}

/*  Check Left Column  */
input.inputCheckGoods[type='checkbox'] {
  display: none;
}
label.labelCheckGoods {
  left: 8px;
  top: 8px;
}
label.labelCheckGoods::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  opacity: 0.5;
  transition: 0.3s;
  position: absolute;
  cursor: pointer;
}
input.inputCheckGoods[type='checkbox']:checked + label.labelCheckGoods::before {
  border: none;
  opacity: 1;
  max-width: 256px;
  max-height: 256px;
  background-image: url('../img/check.png');
  background-size: 100%;
}

/* Right column of Buy goods */
.cart {
  margin-bottom: 4rem;
  width: 250px;
  height: 340px;
  text-align: center;
  padding: 20px;
}
.cart .name {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.cart .cost {
  font-size: 1.3rem;
  margin: 30px 0;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid var(--main-violet);
}
.btn-primary:hover {
  background-color: var(--main-violet);
  border: 1px solid var(--main-violet);
}

/* ==================Double Slider================== */
.containerOuterSlider {
  padding: 2rem 0;
}

.containerOuterdoubleSlider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range {
  width: 90%;
  height: 10px;
  border-radius: 4px;
  background-color: #ddd;
}

.rangebutton_1,
.rangebutton_2 {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  cursor: move;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: #999;
}

.rangebetween {
  position: absolute;
  height: 5px;
  width: 0px;
  margin-top: 3px;
  border: none;
  background-color: var(--main-violet);
}

.range_inpt1,
.range_inpt2 {
  text-align: center;
  margin-top: 20px;
  width: 75px;
}
.containerOuterforInputToCenter {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .range_inpt1,
  .range_inpt2 {
    width: 50px;
  }
  .containerOuterforInputToCenter__fromToSpans {
    display: none;
  }
}
