/* Raleway and Roboto Slab fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500|Roboto+Slab:100,300,400,700,800');


/* Main Colors which was taken from picture with cheese ---../gauda/logo/logo.png---
Also you can see here a violet color which used for buyButtons
*/
:root{
  --main-green: #175842;
  --main-yellow:#f4c730;
  --main-violet:#563d7c;
}

/* Default font which have low selector weight */
*{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}


/* HEADER */
.nav-link{
  font-family: 'Roboto slab', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
#logo{
  margin-top: 0;
  padding: 0;
  width: 70%;
  height: 70%;
}
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}

.dropdown-toggle {
  font-family: "Roboto Slab";
  white-space: nowrap;
  font-weight: 400;
  color: rgba(0,0,0,.5);
  font-size:1.1em;
}
/* Progress Bar */
#cont{
  margin:0;
  padding:0;
  width: 100%;
  position: fixed;
  height: 5px;
  z-index: 9999;
}
/*https://www.cssmatic.com */
#progress{
  background: var(--main-yellow);
  background: -moz-linear-gradient(left, var(--main-yellow) 0%, var(--main-green) 100%);
  background: -webkit-linear-gradient(left, var(--main-yellow) 0%, var(--main-green) 100%);
  background: -o-linear-gradient(left, var(--main-yellow) 0%, var(--main-green) 100%);
  background: -ms-linear-gradient(left, var(--main-yellow) 0%, var(--main-green) 100%);
  background: linear-gradient(to right, var(--main-yellow) 0%, var(--main-green) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c630', endColorstr='#175842', GradientType=1 );;
  width:0%;
  height: 5px;;
}


/* Footer */
footer{
  background-color: #3f3f3f;
  color:#d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a{
  color:#d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem
}



/* Button up */
.btn_up{
  position: fixed;
  bottom: -50px;
  right: 1%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background: var(--main-yellow);
  z-index: 100;
  outline: 0!important;
  cursor: pointer;
  transition: .4s;
}
.btn_up:after{
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--main-green);
  border-left: 2px solid var(--main-green);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn_up.active{
  bottom:50px;
}

/*
Extra small(xs) devices (portrait phones, less than 576px)
No media query since this is the default in bootstrap;

Small (sm) devices (landscape phones, 576px and up)
@media (min-width:576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width:768px) {...}

Large (lg) devices (desktops, 992px and up)
@media (min-width:992px) {...}

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width:1200) {...}
*/
